# --- Base de données ---
**/data/

# --- IDE (IntelliJ / VS Code) ---
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# --- Backend (Maven / Java) ---
**/target/
mvnw
mvnw.cmd
.mvn/
**/bin/

# --- Frontend (Node / Angular) ---
**/node_modules/
**/dist/
.npm/
**/tmp/
.angular/
package-lock.json

# --- OS spécifiques ---
.DS_Store
Thumbs.db