/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

:root {
    --bleu-petrole: #1d4851;
    --bordure-bleu-petrole: #194048;
    --light-bleu-petrole: #317989;
}