<div class="main-table-container">
    <table class="gp-table">
        <thead class="gp-table-header">
            <tr>
                @for (col of inputHeaders(); track col.key) {
                    <th class="gp-header-cell">{{ col.label }}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (row of inputData(); track $index) {
                <tr>
                    @for (col of inputHeaders(); track col.key) {
                        <td class="gp-body-cell">
                            @if('actions' === col.key) {
                                @for (action of inputActions(); track $index) {
                                    <button (click)="handleAction(action, row)" [title]="action" class="btn-action">
                                        <i [class]="getActionIcon(action)"></i>
                                    </button>
                                }
                            } @else {
                                {{ row[col.key] }}
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>