.main-select-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: fit-content;
}

select {
  min-width: 200px;
  max-width: 100%;
  border-color: var(--bordure-bleu-petrole);
}